---
import Layout from "../layouts/Layout.astro";
import "animate.css";
---

<Layout title="Contact">
  <main>
    <h1 class="animate__animated animate__slideInDown">404: Page not found</h1>
    <h4>You should definitely go back home!</h4>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    min-height: 70vh;
  }
</style>
