---
import Layout from "../layouts/Layout.astro";
import "animate.css";
---

<Layout title="About Me">
  <main>
    <h1 class="animate__animated animate__slideInDown">About Me</h1>
    <p>Hello there!</p>
    <p>
      I came from a background in backend software development and slowly moved
      towards the front-end/fullstack :)
      <br />
      <br />
      "I use arch and Vim btw."
      <br />
      <br />
      Let us be friendly and cooperative with one another fellow developers :)
    </p>
    <a href="https://www.linkedin.com/in/tankashing/"
      >Click here to check out my resume in LinkedIn!</a
    >
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    min-height: 70vh;
  }

  a {
    color: white;
  }
</style>
