---
import Layout from "../layouts/Layout.astro";
import "animate.css";
---

<Layout title="Home">
  <main>
    <h1
      class="animate__animated animate__bounce animate__slow animate__infinite name"
    >
      Tan Ka-Shing
    </h1>
    <div class="job">
      <p class="animate__animated animate__fadeInDown animate__delay-5s present">
        present day...
      </p>
      <p>Full Stack Developer</p>
      <p
        class="animate__animated animate__hinge animate__slow animate__delay-5s"
      >
        Frontend Developer
      </p>
      <p
        class="animate__animated animate__hinge animate__slow animate__delay-4s"
      >
        Backend Developer
      </p>
      <p
        class="animate__animated animate__hinge animate__slow animate__delay-3s"
      >
        Software Engineer
      </p>
      <p
        class="animate__animated animate__hinge animate__slow animate__delay-2s"
      >
        Student
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    min-height: 70vh;
  }

  .present{
    font-weight: lighter;
    font-style: italic;
  }

  .name {
    font-weight: bold;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  .job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
