---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import "animate.css";
---

<Layout title="Portfolio">
  <main>
    <h1 class="animate__animated animate__slideInDown">Portfolio</h1>
    <div class="portfolio">
      <h2>EasyAccel</h2>
      <p>
        EasyAccel is founded in 2022 by a small group of friends believing in
        upscaling businesses through digitilization, all while being managed and
        done by EasyAccel, thus alleviating businesses from the hassle of
        creating an e-commerce.
      </p>
      <p class="italic">
        "Spend more time running the business, than thinking about the
        business."
      </p>
      <p class="stack">Tech Used: NextJS, Vercel, Shopify, AstroJS, etc.</p>
      <a href="https://www.easyaccel.com" target="_blank"
        >Click here to visit!</a
      >
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 8vh;
    min-height: 80vh;
    max-width: 800px;
  }

  h1 {
    font-weight: bolder;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
  }

  .stack {
    font-weight: lighter;
    font-size: 12px;
  }

  .portfolio {
    background-color: #141414;
    border-radius: 32px;
    padding-bottom: 22px;
    padding-right: 22px;
    padding-left: 22px;
  }

  .italic {
    font-style: italic;
  }
</style>
