---
import Layout from "../layouts/Layout.astro";
import "animate.css";
---

<Layout title="Contact">
  <main>
    <h1 class="animate__animated animate__slideInDown">
      You found the secret page!
    </h1>
    <h3>.. ~ more secrets ~ .. will be added here!</h3>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    min-height: 70vh;
  }

  h3 {
    font-weight: 400;
  }
</style>
